h1 {
    font-family: 'Lato',monospace;
    font-size: 4vw;
    color: #31363b;
    text-align: center;
}

h2 {
    font-family: 'Lato',monospace;
    font-size: 3vw;
    color: #31363b
}

h3 {
    margin-bottom: 0.5vh;
}

a:link, a:visited {
    font-family: 'Lato',monospace;
    font-size: 2vw;
    background-color: #31363b;
    color: #25f6f9;
    padding: 14px 25px;
    margin-bottom: 1vh;
    text-align: center;
    text-decoration: none;
    display: block;
}

a:hover, a:active {
    /*background-color: black;*/
    color: #ff0080;
}

#break {
    height: 20px;
    width:80vw;
    margin: auto;
}

.text {
    text-align: justify;
    font-family: 'Lato',monospace;
    font-size: 1.5vw;
    color: #31363b;
}

.about {
    line-height: 1.5;
}

.block {
    text-align: center;
    padding: 40px;
    width: 60vw;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.drawerText {
    color: #25f6f9;
    font-family: 'Lato',monospace;
    font-size: 2vw;
}

.drawerButton {
    background-color: #31363b;
    padding: 2px;
    margin-bottom: 1vh;
    display: block;
    opacity: 1;
}

.drawerButton:hover {
    color: #25f6f9;
    font-family: 'Lato',monospace;
    font-size: 2vw;
    /*background-color: black;*/
    padding: 2px;
    margin-bottom: 1vh;
    display: block;
}

.barButton {
    padding-left: 1vw;
    padding-right: 1vw;
    margin:auto;
    display: block;
    opacity: 1;
}

.paperWhite {
    background-color: #fcfcfc;
}

.techBlue {
    background-color: #25f6f9;
}

.gunmetal {
    background-color: #31363b;
}
